<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>puzzles</key>
	<array>
		<array>
			<string>sofa.jpg</string>
			<string>SOFA</string>
			<integer>0</integer>
		</array>
		<array>
			<string>coffee.jpg</string>
			<string>COFFEE</string>
			<integer>0</integer>
		</array>
		<array>
			<string>dora.jpg</string>
			<string>DORA</string>
			<integer>0</integer>
		</array>
		<array>
			<string>train.jpg</string>
			<string>TRAIN</string>
			<integer>0</integer>
		</array>
		<array>
			<string>train.jpg</string>
			<string>TRAIN</string>
			<integer>0</integer>
		</array>
		<array>
			<string>coffee.jpg</string>
			<string>COFFEE</string>
			<integer>0</integer>
		</array>
		<array>
			<string>chair.jpg</string>
			<string>CHAIR</string>
			<integer>0</integer>
		</array>
		<array>
			<string>train.jpg</string>
			<string>TRAIN</string>
			<integer>0</integer>
		</array>
		<array>
			<string>sofa.jpg</string>
			<string>SOFA</string>
			<integer>0</integer>
		</array>
		<array>
			<string>dora.jpg</string>
			<string>DORA</string>
			<integer>0</integer>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>180</integer>
	<key>points</key>
	<integer>100</integer>
</dict>
</plist>
