<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>puzzles</key>
	<array>
		<array>
			<string>recursion.jpg</string>
			<string>RECURSION</string>
			<integer>0</integer>
		</array>
		<array>
			<string>paris.jpg</string>
			<string>PARIS</string>
			<integer>0</integer>
		</array>
		<array>
			<string>vivien.jpg</string>
			<string>VIVIEN</string>
			<integer>0</integer>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>120</integer>
	<key>points</key>
	<integer>50</integer>
</dict>
</plist>
