<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>puzzles</key>
	<array>
		<array>
			<string>boat.jpg</string>
			<string>BOAT</string>
		</array>
		<array>
			<string>train.jpg</string>
			<string>TRAIN</string>
		</array>
		<array>
			<string>panda.jpg</string>
			<string>PANDA</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>250</integer>
	<key>points</key>
	<integer>10</integer>
</dict>
</plist>
